@import url("../node_modules/@fortawesome/fontawesome-free/css/all.css");

/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/raleway-v17-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/raleway-v17-latin-regular.woff")
      format("woff"); /* Modern Browsers */
}

body,
html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  background: url("../img/background_2.jpg");
  background-size: cover;
}


#page {
  padding: 0px;
  margin: 10px auto;
  border: 10px solid;
  border-color: #3b3a3f;
  box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.75);
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: row;
}

@media all and (min-width: 1280px) {
  #page {
    zoom: 1.2;
    transform-origin: 50% 0;
  }
}

@media all and (max-width: 799px) {
  #page {
    margin: 0 0;
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .content_column {
    flex: 1 1 auto;
  }

  #perso_column,
  #pro_column {
    width: 100%;
  }

  #perso_column .column_title,
  #perso_column table {
    float: initial;
    width: 100%;
    margin: 3px;
  }

  #pdf_link {
    color: white;
  }
}

@media all and (min-width: 800px) {
  #page {
    width: 780px;
  }

  #perso_column {
    width: 40%;
  }

  #pro_column {
    width: 60%;
  }

  #perso_column .column_title,
  #perso_column table {
    float: right;
    width: 85%;
  }

  #pdf_link {
    color: black;
  }
}

@page {
  size: A4;
  margin: 0;
  padding: 0;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  body {
    background: none;
  }
  #page {
    margin: 0;
    zoom: initial;
    border: 10px solid;
    border-image: linear-gradient(to bottom, #3b3a3f, #3b3a3f) 10;
    page-break-after: always;
    transform: scale(1);
    height: 100%;
    width: 100%;
  }
  #pdf_link {
    display: none;
  }
}
*/

a {
  color: #e4e4e4;
}

#pdf_link {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 10px;
  text-align: center;
}

#perso_column .fa,
#perso_column .fas,
#perso_column .fab {
  color: #33a4a3;
}

.fa,
.fab,
.fas {
  color: #3b3a3f;
}

#perso_column {
  flex-direction: column;
  background-color: #3b3a3f;
  border-color: #3b3a3f;
  border-right: #3b3a3f 10px solid;
  padding: 0;
  margin: 0;
}

#name {
  text-align: center;
  color: white;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: bold;
  width: 100%;
  padding: 20px 0 0 0;
}

#job_title {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
  color: #33a4a3;
  margin-top: 10px;
}

#pix {
  flex: 0 0 auto;
  text-align: center;
}

#pix > img {
  max-height: 160px;
  max-width: 160px;
  margin: auto;
  margin-top: 10px;
  border-radius: 0px;
  border: 1px solid #cccccc;
}

#perso_column .column_title,
#perso_column table {
  color: white;
}

#perso_column .column_title {
  border-bottom: 1px solid #33a4a3;
  margin-bottom: 5px;
  padding-bottom: 5px;
  margin-top: 25px;
}

#perso_column .entry_title {
  font-weight: bold;
}

#perso_column .entry_content {
  font-size: 12px;
  color: #cccccc;
}

#perso_column table tr:nth-child(odd) td {
  padding-top: 15px;
}

#pro_column {
  padding: 0 15px;
}

#pro_column #content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#pro_column .column_title {
  border-bottom: 1px solid #33a4a3;
  margin-bottom: 5px;
  padding-bottom: 5px;
  margin-top: 25px;
  color: #3b3a3f;
  font-size: 28px;
}

#pro_column #jobs,
#pro_column #education {
  font-size: 12px;
  color: #3b3a3f;
  text-align: justify;
  width: 100%;
}

#pro_column #jobs tr:nth-child(odd) td {
  padding: 15px 0 5px 0;
}

#pro_column #education tr:nth-child(odd) td {
  padding: 5px 0 0px 0;
}

#pro_column #jobs tr:nth-child(even) td {
  padding: 0 0 15px 0;
}

#pro_column #education tr:nth-child(even) td {
  padding: 0 0 5px 0;
}

#pro_column #jobs tr td:first-child ul,
#pro_column #education tr td:first-child ul,
#hobbies tr td:first-child ul {
  list-style-type: square;
  margin: 0 0 0 5px;
  padding: 0;
  color: #33a4a3;
}

#pro_column #education tr {
  width: 100%;
}

.work_name {
  text-align: left;
}

.work_position {
  float: right;
  text-align: right;
}

.work_date {
  width: 40%;
  font-weight: bold;
}

#hobbies {
  font-size: 12px;
  margin-bottom: 15px;
}

.mindset {
  padding: 5px;
  margin: 0 5%;
  background-color: #3b3a3f;
  font-weight: bold;
  color: #ffffff;
  width: 25%;
  font-size: 12px;
  text-align: center;
}

#skills {
  display: flex;
  flex-direction: row;
}

#skills table td {
  padding: 5px 5px;
}

#skills table tr td:nth-child(1) {
  width: 30%;
}

.skill_name {
  font-size: 12px;
  margin-right: 5px;
  font-weight: bold;
}

.hex-row {
  margin-top: 10px;
  width: 100%;
}

.skill-button {
  background-color: #3b3a3f;
  border-radius: 3px;
  color: white;
  padding: 5px;
  display: inline-block;
  flex: 0 0 auto;
}