body,html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 85%;
  font-family: Arial,Helvetica,sans-serif;
  box-sizing: border-box;
  display: flex;
}

#perso_section {
  flex-direction: column;
  background-color: #3b3a3f;
  border-color: #3b3a3f;
  border-right: #3b3a3f 10px solid;
  padding: 0 0 0 16px;
  margin: 0;
  flex: 0 0 auto;
}

#pro_section {
  background-color: #fff;
  padding: 0 15px;
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  color:#3b3a3f;
  min-height: 100vh;
}

ul {
  padding: 0 16px;
  margin: 8px;
}

td p {
  margin: 4px 0;
}

ul>li{
}


#perso_section a {
  color: #e4e4e4
}

#name {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#job_title,#name,#pix {
  text-align: center
}

#job_title {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #1FB6B1;
  margin-top: 10px;
  font-weight: normal;
}

#pix>img {
  max-height: 160px;
  max-width: 160px;
  margin: 10px auto auto;
  border: 1px solid #ccc
}

#perso_section .column_title,#perso_section table {
  color: #fff;
}

#perso_section .column_title {
  border-bottom: 1px solid #1FB6B1;
  margin-bottom: 5px;
  padding-bottom: 5px;
  margin-top: 25px
}

#perso_section .entry_title {
  font-weight: 700
}

#perso_section .entry_content {
  color: #ccc
}

#perso_section table tr:nth-child(odd) td {
  padding-top: 15px
}

#pro_section #content {
  height: 100%;
  display: flex;
  flex-direction: column
}

#pro_section .column_title {
  border-bottom: 1px solid #1FB6B1;
  margin-bottom: 5px;
  padding-bottom: 5px;
  margin-top: 25px;
  color: #3b3a3f;
  font-size: 28px
}

#pro_section #education,#pro_section #jobs {
  width: 100%
}

#pro_section #jobs tr:nth-child(odd) td {
  padding: 15px 0 5px
}

#pro_section #education tr:nth-child(odd) td {
  padding: 5px 0 0
}

#pro_section #jobs tr:nth-child(even) td {
  padding: 0 0 15px
}

#pro_section #education tr:nth-child(even) td {
  padding: 0 0 5px
}

#hobbies tr td:first-child ul,#pro_section #education tr td:first-child ul,#pro_section #jobs tr td:first-child ul {
  margin: 0 0 0 5px;
  padding: 0;
  color: #1FB6B1
}

.work_date, .work_name {
  font-weight: 700
}